h1 {
  font-family: 'PT Serif', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  max-height: 100vh;
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

#menu__toggle {
  display: none;
}

.menu__item {
  position: relative;
  margin-right: 25px;
  margin-top: 4px;
  font: 19px/29px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 131px;
}

.logo {
  position: relative;
  padding: 38px 0;
  padding-left: 48px;
  font: bold 24px/33px 'PT Serif', arial, helvetica, sans-serif;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item:last-child {
  margin-right: 0.5vw;
}

.logo__circle {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 11px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover::after {
  opacity: 1;
  width: 100%;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056ec;
  opacity: 1;
}

.main {
  padding: 77px 66% 130px 0;
  background: top right no-repeat url(img/mainlmg.svg);
}

.main__title {
  font: bold 66px/86px 'PT Serif', arial, helvetica, sans-serif;
  color: #000;
  margin: 0 0 39px 0;
  margin-left: 3px;
}

.main__subtitle {
  font: 22.5px/26px'Roboto', arial, helvetica, sans-serif;
  color: #000;
  margin: 0 0 42px 0;
  width: 87%;
  margin-left: 2px;
}

.main__button {
  display: inline-block;
  font: 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 16px 37px 20px 24px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 5px 0 grey;
  margin-left: 4px;
  transition-duration: 300ms;
  transition-delay: 0.1s;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__button:hover {
  margin-top: 2px;
  box-shadow: 0 2px 0 grey;
  transition-duration: 300ms;
  transition-delay: 0.1s;
}

@media (max-width: 1366px) {
  body {
    overflow: hidden;
  }

  .wrapper {
    width: 69%;
  }

  header {
    margin-bottom: 86px;
  }

  .logo {
    padding-left: 53px;
  }

  .logo__circle {
    left: 5%;
  }

  .menu__item {
    margin-top: 8px;
    font: 500 14px/17px 'Roboto', arial, helvetica, sans-serif;
    margin-right: 27px;
  }

  .menu__item:last-child {
    margin-right: 0.7vw;
  }

  .main {
    padding: 0 54% 20% 5px;
    background-size: 55%;
    background-position: top right;
  }

  .main__title {
    font: bold 50px/66px 'PT Serif', arial, helvetica, sans-serif;
    margin: 0 0 41px 0;
    padding-top: 16px;
  }

  .main__subtitle {
    font: 18px/21px'Roboto', arial, helvetica, sans-serif;
    margin: 0 0 40px 0;
    letter-spacing: 0.3px;
  }

  .main__button {
    font: 14px/16px 'Roboto', arial, helvetica, sans-serif;
    padding: 17px 22px 12px 24px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 91%;
  }

  .logo {
    padding-left: 44px;
  }

  .logo__circle {
    left: 0.5%;
  }

  .menu__item:last-child {
    margin-right: 0;
  }

  header {
    margin-bottom: 87px;
  }

  .main {
    padding: 0 54% 20% 0;
    background-size: 55.5%;
    background-position: top right;
  }

  .main__title {
    margin: 0 0 38px 0;
  }

  .main__subtitle {
    margin: 0 0 41px 0;
  }

  .main__button {
    padding: 17px 23px 13px 24px;
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .wrapper {
    width: 100vw;
  }

  header {
    margin-bottom: 7px;
  }

  .logo {
    visibility: hidden;
    padding: 12% 0 0 0;
    left: 6%;
  }

  .logo__circle {
    visibility: visible;
  }

  .logo__circle_color_blue {
    left: 5%;
    top: 58%;
  }

  .main {
    padding: 69% 0 0 4px;
    background-size: 75%;
    background-position: top center;
    text-align: center;
  }

  .main__title {
    width: 74%;
    margin: auto;
    padding-top: 2px;
    font: bold 30px/40px 'PT Serif', arial, helvetica, sans-serif;
    margin-bottom: 33px;
  }

  .main__subtitle {
    font: 15px/18px'Roboto', arial, helvetica, sans-serif;
    margin: auto;
    width: 74%;
    margin-bottom: 27px;
    letter-spacing: 0.6px;
  }

  .menu__btn {
    position: absolute;
    top: 5.8%;
    right: 6.5%;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn,
  .menu__btn::before,
  .menu__btn::after {
    display: block;
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #0056ec;
    transition-duration: 0.5s;
  }

  .menu__btn::before {
    content: '';
    top: -7px;
  }

  .menu__btn::after {
    content: '';
    top: 7px;
  }

  #menu__toggle:checked ~ .menu__btn {
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #menu__toggle:checked ~ .menu__btn::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn::after {
    top: 0;
    transform: rotate(90deg);
  }

  .menu__box {
    display: block;
    position: absolute;
    visibility: hidden;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 47% 0;
    background-color: #e5e5e5;
  }

  .menu__item {
    margin: auto;
    display: block;
    padding: 11px 0 12px 0;
    font: 500 31px/36px 'Roboto', arial, helvetica, sans-serif;
    border: hidden;
    opacity: 1;
    transition-property: border 2s ease 0.8s, background-color 2s ease 0.8s, opacity 2s ease 0.2s;
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
  }

  .menu__item:hover::after {
    opacity: 1;
    width: 0;
  }

  .menu__item_active::after {
    display: none;
  }

  .menu__item:hover {
    opacity: 0.6;
    border: visible;
    border: solid 1px black;
    border-radius: 10px;
    background-color: #0056ec;
    transition-property: border 2s ease 0.8s, background-color 2s ease 0.8s, opacity 2s ease 0.2s;
  }
}
